<div clas="container">
<div class="row">

<div class="col-md-6">
<%= image_tag "70d.jpg", class: "img-responsive" %>
</div>
 
<div class="col-md-6">
<div class="col-md-6">
<h3><%= @mato.name %></h3>
<p class="justify"><%= @mato.description %></p>
<h4 class="text-right">$<%= @mato.price.to_f / 100 %></h4>
</div>

</div>
</div>


<%= link_to 'Edit', edit_mato_path(@mato) %> |
<%= link_to 'Back', matos_path %>
